* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

.wrapper {
    width: 80%;
    min-width: 900px;
    margin: 0 auto;
}

.add-form {
    width: 300px;
    margin: 0 auto;
}

p {
    margin: 8px 0;
}

li {
    list-style: none;
    margin: 8px 16px;
}

li>span {
    list-style: none;
    padding: 8px 8px 2px 8px;
}

.winner {
    background: green;
}

.btn {
    margin: 8px 8px 8px 0;
}

.partList span:hover {
    border-bottom: 2px dotted transparent;
}

.partList>span:hover {
    cursor: pointer;
    border-bottom: 1px dotted #666;
}

table {
    border-collapse: collapse;
}

table,
tr,
td {
    border: transparent;
}

.td-name,
.td-surename,
.td-mail,
.td-phone,
.td-bday {
    padding: 4px 16px;
    width: 20%;
}