* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

.wrapper {
    width: 80%;
    min-width: 900px;
    margin: 0 auto;
}

.add-form {
    width: 300px;
    margin: 0 auto;
}

p {
    margin: 8px 0;
}

.winner {
    background: green;
}

.btn {
    margin: 8px 8px 8px 0;
}

table {
    border-collapse: collapse;
}

table,
tr,
td {
    border: transparent;
}

.td-name,
.td-surename,
.td-mail,
.td-phone,
.td-bday {
    padding: 4px 16px;
    width: 20%;
}

td {
    cursor: pointer;
}

td:hover {
    cursor: pointer;
    background: #ccc;
}